<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categoría Profesores</title>
    <link rel="stylesheet" href="/assets/Profesores/categoria-profesor.css">
</head>
<body>
    <header>
        <h1>Categoría de Profesores</h1>
    </header>

    <main>
        <section class="categorias">
            <h2>Explora las categorías</h2>
            <div class="categoria-grid" id="categoria-grid">
                <div class="categoria-item">
                    <img src="https://img.freepik.com/vector-gratis/elementos-concepto-streamer-juego-ilustrados_23-2148932487.jpg?t=st=1745176766~exp=1745180366~hmac=395a0fb415289900ce67dc98e3c2fdeebd600a2a3943c44a8021805dc421ba63&w=740" alt="Juegos">
                    <p><strong>Juegos</strong></p>
                    <button class="delete-btn">Eliminar</button>
                </div>
                <div class="categoria-item">
                    <img src="https://img.freepik.com/vector-gratis/ilustracion-concepto-formacion-linea_114360-22546.jpg?t=st=1745176820~exp=1745180420~hmac=4ffce462749ebf166a2c6d07576a55bb2b8055bb77a5dcbaef2d087c94434dc6&w=996" alt="Cursos" alt="Cursos">
                    <p><strong>Cursos</strong></p>
                    <button class="delete-btn">Eliminar</button>
                </div>
                <div class="categoria-item">
                    <img src="https://img.freepik.com/vector-gratis/gente-interior-sala-libreria_107791-29869.jpg?t=st=1745177085~exp=1745180685~hmac=5878de1e153a42c63f0f70d68c632d39d0c00d29611acfbde0450d1cf6203b52&w=826" alt="Biblioteca">
                    <p><strong>Biblioteca</strong></p>
                    <button class="delete-btn">Eliminar</button>
                </div>
                <div class="categoria-item">
                    <img src="https://img.freepik.com/vector-gratis/fondo-creativo-negocios_23-2147693122.jpg?t=st=1745177996~exp=1745181596~hmac=906dafabf0970c9530eb002e0c7a6e418252dab117535f96f90a6076956f84ea&w=740" alt="Módulos">
                    <p><strong>Módulos</strong></p>
                    <button class="delete-btn">Eliminar</button>
                </div>
            </div>

            <div class="formulario">
                <input type="text" id="nueva-categoria" placeholder="Nombre de la nueva categoría">
                <button id="agregar-categoria">Agregar Categoría</button>
            </div>
        </section>
    </main>

    <script src="categoria-profesor.js"></script>
</body>
</html>
