<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inicio de sesión</title>
    <link rel="stylesheet" href="/assets/Registros/style.css">
</head>
<body>
    <form action="" id="form">
        <h1>INICIO DE SESIÓN</h1>
        <div class="input-container">
            <input type="text" id="nombre_usuario" placeholder="" required>
            <label for="nombre_usuario">Nombre</label>
        </div>
        <div class="input-container">
            <input type="text" id="contraseña_usuario" placeholder="" required>
            <label for="contraseña_usuario">contraseña</label>
        </div>
        <button type="submit" id="inicio_sesion">Iniciar Sesión</button>
        <br>
        <a href="/public/index.html">REGISTRARSE</a>
    </form>
    
</body>
</html>