body{
    background-color: #f0f0f0;
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
}

#form{
    width: 400px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-content: center;
    position: relative;
}

.input-container{
    position: relative;
    width: 300%;
    max-width: 300px;
    margin: 20px;
}

label{
    position: absolute;
    left: 10px;
    top: 20px;
    transform: translateY(-50%);
    transition: 0.3s;
    background: white;
    padding: 0 5px;
    color: gray;
    font-size: 16px;
    pointer-events: none;
}

input{
    width: 110%;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

input:focus + label,
input:not(:placeholder-shown) + label{
    top: 0;
    left: 5px;
    font-size: 12px;
    color: #0051ff;
}

input:focus{
    border-color: #0051ff;
}

select{
    width: 200px;
    height: 40px;
    margin: 10px 0;
    padding: 5px;
    color: white;
    background-color: blue;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

select:hover{
    background-color: lightblue;
}

select:focus{
    outline: 2px solid darkblue;
}

option{
    color: black;
    background-color: white;
}

button{
    width: 200px;
    height: 40px;
    margin: 10px 0;
    padding: 5px;
    color: white;
    background-color: blue;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

button:hover{
    background-color: lightblue;
}

button:focus{
    outline: 2px solid darkblue;
}